*{
    box-sizing: border-box;
    font-family: Palatino, URW Palladio L, serif;
}
body{
    background-color: black;
}

div.top-row{
    text-align: center;
}


.movieRow{
    margin: auto;
    width: 100%;
    text-align: center;
}

div.movieContainer{
    display: inline-block;
    width: 20%;
    margin: 0 auto;
    font-size: 14px;
    list-style: none;
    
  }
  
 .top-row {
    width: 100%;
    height: 150px;
    background: red;
  }

  .top-row-img {
    width: 100%;
    display: inline-block;
  }


li.top-row-text-list-item{
    list-style: none;
    color: white;
}
ul.list-item-span{
    padding: 0;
}

li{
    text-align: left;
 
}

.top-row-text-list-item{
    font-size: 14pt;
    padding-left: 5px;
}

header{
    color: white;
    margin:auto;
    text-align: center;
}

button{
    color: green;
    font-weight: bold;
}
.btn{
    display:block;
    margin-right:auto;
    margin-left:auto;
    width:45%;
}

.divContainer{
  text-align: left;
}

.innerBtn{
    display:inline-block;
    margin:auto;
    width: 45%;
}

.results{
    color:white;
    text-align: center;
    margin: auto;
}

section{
    color: white;
    text-align: center;
}

footer{
    text-align: center;
}


ul{
    display: inline;
}

.genreList{
    display: inline;
    padding-right: 2px;
    text-align: center;
}

main div.movieSpecs{
    color: yellow;
}

.youtubeThumbnail{
    width: 100%;
}

/*When editing the size of the images,
smaller viewports: height and width 300px*/
#moviesBoys{
    display: block;
    height: 450px;
    width: 450px;   
    background-image:url("https://images.cdn4.stockunlimited.net/preview1300/cinema-background-with-movie-objects_1823382.jpg");
    background-repeat:no-repeat;
    background-size: cover;
}

/*The margin left may have to be adjusted for different viewports*/
.backBtn{
   display: block;
   margin-left: 9.5%;
}