*{
    box-sizing: border-box;
}
body{
    background-color: black;
}

header{
    color: white;
    margin:auto;
    text-align: center;
}

button{
    color: green;
    font-weight: bold;
}
.btn{
    display:block;
    margin-right:auto;
    margin-left:auto;
    width:45%;
}

.divContainer{
  text-align: center;
}

.innerBtn{
    display:inline-block;
    margin:auto;
    width: 45%;
}

.results{
    color:white;
    text-align: center;
    margin: auto;
}

section{
    color: white;
    text-align: center;
}

footer{
    text-align: center;
}

.movieTitle{
    display:inline;
}

p.genreP{
   text-align: center;
    display: inline;
}

.genreMovie{
    margin: auto;
    display:inline;
}

.ratingMovie{
    width: 33.3%;
}

.movieClass{
    background-color: white;
}
